{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Base/formCreation.css') }}">
{% endblock %}

{% block main %}
    <h2>Modifier Allergie</h2>

    {{ include('allergy/_form.html.twig', {'button_label': 'ENREGISTRER'}) }}

{% endblock %}
