main {
    text-align: start;
}
h2 {
    margin-top: 10px; margin-bottom: 8px;
    font-size: 1.8em;
    text-align: center;
}
h3 {
    margin: 10px 0px 4px 0px;
    text-align: start;
    font-size: 1.8em;
}
p {
    margin-top: 4px; margin-bottom: 4px;
    font-size: 1em;
    text-align: start;
}
.horaire>h3 {
    text-align: center;
    font-size: 2em;
}

@media screen and (min-width: 1000px) {
    h2 {
        font-size: 1.4em;
    }
    h3 {
        font-size: 1.2em;
    }
    p {
        font-size: 1em;
    }
}