{% extends 'base.html.twig' %}

{% block title %}Edit NumberOfPlace{% endblock %}

{% block body %}
    <h1>Edit NumberOfPlace</h1>

    {{ include('number_of_place/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_number_of_place_index') }}">back to list</a>

    {{ include('number_of_place/_delete_form.html.twig') }}
{% endblock %}
