{% extends 'base.html.twig' %}

{% block main %}
    <h2>Nombre de place disponible</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre de place</th>
            </tr>
        </thead>
        <tbody>
        {% for number_of_place in number_of_places %}
            <tr>
                <td>{{ number_of_place.numberOfPlace }}</td>
                <td>
                    <a class="btn-modifier" href="{{ path('app_number_of_place_edit', {'id': number_of_place.id}) }}">MODIFIER</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
