{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Base/formCreation.css') }}">
{% endblock %}

{% block title %}New NumberOfPlace{% endblock %}

{% block main %}
    <h1>Create new NumberOfPlace</h1>

    {{ include('number_of_place/_form.html.twig') }}

    <a href="{{ path('app_number_of_place_index') }}">back to list</a>
{% endblock %}
