{% extends 'base.html.twig' %}

{% block title %}Edit AdditionalInformation{% endblock %}

{% block body %}
    <h1>Edit AdditionalInformation</h1>

    {{ include('additional_information/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_additional_information_index') }}">back to list</a>

    {{ include('additional_information/_delete_form.html.twig') }}
{% endblock %}
