{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Base/formCreation.css') }}">
{% endblock %}

{% block title %}Edit Day{% endblock %}

{% block main %}
    <h1>Modification Jour</h1>

    {{ include('day/_form.html.twig', {'button_label': 'ENREGISTRER'}) }}

{% endblock %}
