{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Base/formCreation.css') }}">
{% endblock %}

{% block main %}
    <h2>Ajouter categorie</h2>

    {{ include('category/_form.html.twig') }}

{% endblock %}
