main {
    max-width: 1000px;
    margin: 2%;
    margin-top: 5.5vh;
    padding: 0% 1%;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 20px;
    color: white;
    background-color: black;
    align-self: center;
}
article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
}
div {
    width: 100%;
}
.dishes {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.dishes__title-description {
    margin: 0; 
}
.title, .description, .price {
    max-width: fit-content;
    text-align: start;
}
.price {
    width: fit-content;
    margin: 0 1%;
    min-width: fit-content;
}
.description {
    text-align: start;
}
.formule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1000px) {
    main {
        margin-top: 6.5vh;
    }
}