<form method="post" action="{{ path('app_formula_delete', {'id': formula.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formula.id) }}">
    <button class="btn">Delete</button>
</form>
