{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Base/formCreation.css') }}">
{% endblock %}

{% block main %}
    <h2>Crée formule</h2>

    {{ include('formula/_form.html.twig') }}

{% endblock %}
