form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background-color: rgba(242, 242, 242, 0.219);
}
form>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}
input, textarea {
    width: 100%;
}
textarea {
    resize: none;
}
.input__active {
    width: 30px;
    height: 30px;
}
table {
    border-spacing: 10px;
}
.td-action {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}
.btn-supprimer, .btn-modifier, .btn-ajouter, button {
    padding: 2px 6px;
    color: white;
    font-size: 30px;
    border: solid 1px black;
}
.btn-modifier, .btn-ajouter {
    text-decoration: none;
}
.btn-supprimer, .btn-modifier, .btn-ajouter, button {
    background-color: #3b3b3b;
}
.btn-supprimer:hover, .btn-modifier:hover, .btn-ajouter:hover, button:hover {
    background-color: #000000;
}

@media screen and (min-width: 1000px) {
    .td-action {
        gap: 30px;
    }
    .btn-supprimer, .btn-modifier, .btn-ajouter, button {
        font-size: 20px;
    }

}