{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Base/formCreation.css') }}">
{% endblock %}

{% block title %}New Booking{% endblock %}

{% block main %}
    <h1>Create new Booking</h1>

    {{ include('booking/_form.html.twig') }}

    <a href="{{ path('app_booking_index') }}">back to list</a>
{% endblock %}
