{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Base/formCreation.css') }}">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/PictureDishes/picture_dishesForm.css') }}">
{% endblock %}

{% block main %}
    <h2>Modifier image plat</h2>

    {{ include('picture_dishes/_form.html.twig', {'button_label': 'SAUVEGARDER'}) }}

    {# {{ include('picture_dishes/_delete_form.html.twig') }}#}
{% endblock %}
