{% extends 'base.html.twig' %}

{% block title %}New PictureDishes{% endblock %}

{% block main %}
    <h1>Create new PictureDishes</h1>

    {{ include('picture_dishes/_form.html.twig') }}

    <a href="{{ path('app_picture_dishes_index') }}">back to list</a>
{% endblock %}
