{% extends 'base.html.twig' %}

{% block main %}
    <h2>Modifier plat</h2>

    {{ include('dishes/_form.html.twig', {'button_label': 'ENREGISTRER'}) }}

    {{ include('dishes/_delete_form.html.twig') }}
{% endblock %}
