{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Base/formCreation.css') }}">
{% endblock %}

{% block title %}New Dishes{% endblock %}

{% block main %}
    <h2>Crée Plat</h2>

    {{ include('dishes/_form.html.twig') }}
{% endblock %}
