h1 {
    margin: 6px;
}
form {
    width: 80%;
    padding: 10px 18px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border: solid 1px black;
}
input {
    width: 100%;
}
#user_allergy {
    overflow: hidden;
}

@media screen and (min-width: 1000px) {
    form {
        width: 80vw;
        max-width: 700px;
    }
}