{% extends 'base.html.twig' %}

{% block title %}Edit Menu{% endblock %}

{% block main %}
    <h1>Modifier Menu</h1>

    {{ include('menu/_form.html.twig', {'button_label': 'ENREGISTRER'}) }}

{% endblock %}
