{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Base/formCreation.css') }}">
{% endblock %}

{% block title %}Edit Menu{% endblock %}

{% block main %}
    <h1>Modifier Menu</h1>

    {{ include('menu/_form.html.twig', {'button_label': 'ENREGISTRER'}) }}

{% endblock %}
