{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Base/formCreation.css') }}">
{% endblock %}

{% block main %}
    <h2>Modification Utilisateur</h2>

    {{ include('user/_form.html.twig', {'button_label': 'ENREGISTRER'}) }}
{% endblock %}
