form {
    width: 90vw;
    max-width: 800px;
    background-color: rgb(242, 242, 242);
    padding: 10px 18px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border: solid 1px black;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
input {
    width: 100%;
}
#booking_Allergy {
    overflow: hidden;
}

@media screen and (min-width: 1000px) {
    form {
        max-width: 600px;
    }
}