form {
    width: 90vw;
    max-width: 800px;
    padding: 1% 4%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border: solid 1px black;
    background-color: rgba(242, 242, 242, 0.219);
}
div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
input {
    width: 100%;
}
#booking_Allergy {
    overflow: hidden;
}

@media screen and (min-width: 1000px) {
    form {
        max-width: 600px;
    }
}